@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #111827;
  overscroll-behavior-y: contain;
}

/* This makes the button behave like native on mobile when pressed */
button {
  transition: all 0.2s ease-in-out;
}

button:active {
  transform: scale(0.97);
  transition: 0.2s;
  opacity: 0.5;
}

/* This will remove the background highlight color on these elements on mobile */
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  user-select: none;
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}
